#name {
    color:white;
    background-color:rgb(0, 174, 168);
    width:225px;
    padding:20px;
    text-align: center;
    text-indent: 50px;
}

.github {
    float: right;
    position: relative;


}

.linkedin {
    float:right;

}
    
.stacked{
    float: right;


}

h1 {
    background-color:rgb(0, 174, 168);
}
#contact {
    color:white;
    background-color:rgb(0, 174, 168);
    text-indent: 50px;
}
#about-me {
    color:rgb(0, 174, 168);
    background-color:rgb(238,238,238);
    text-indent: 92px;
}
.contact {
    color:rgb(0, 174, 168);
    background-color: rgb(238, 238, 238);
    text-indent: 92px;
}
.portfolio {
    color:rgb(0, 174, 168);
    background-color:white;
    text-indent: 94px;
}
#submit {
    color: white;
    
}
#connect {
    color: white;
    float: right;
    margin: 0px;
    height: 248px;
    width: 280px;
    position: relative;
    bottom: 2px;
    border-right: 20px;
    background-color: lightgrey;
    text-align: center;
    font-size: 20px;
    
       }


.box {
    width: 1335px;
    height: 6px;
    background-color:gray;
}

.body{
    width: 1334px;
    height: 950px;
    background-color: rgb(230,230,230);
}

.box gray {
width: 1000px;
padding: 100px;

}

.green{
background:#0f0;
}



.googlefont{
    font-family: 'Anton', sans-serif;
    width: 50px;
    padding: 500px;
    background-color: black;
    position: absolute;
    right: 300;
    top: 500;
}
.button {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
}


.infoBar {

    float: right;
    margin: 10px 10px 10px 10px;
    position: static;
    left: 30px;
    border: none;

}

#socialmediabox {

    float: right;
    margin: 10px 10px 10px 10px;
    width: 70px;
    padding:70px;
    margin: 70px;
    background-color:red;
    position: relative;
    border: solid 1px;
}

.box body {

    width: 1334px;
    height: 1000px;
    background-color: (241,241,241);
}

#about box {

    height: 500px;
    width: 50%;
    background-color: (241,241,241);

}

#headshot {

    float: left;

    
}

#words {

    font-family: 'Anton', sans-serif;
    right: 370px;
    top: 8px;
    bottom: 200px;
    text-align: left;
    width: 220px;
    padding:200px;
    position:absolute;
    
}

#icons {
    font-family: 'Anton', sans-serif;
    height: 270px;
    width: 306px;
    Boarder: 1px, solid black;
    left: 1100px;
    top: 184px;
    background-color: white;
    position: absolute;
    text-align: center;
}

#copyright {
    font-family: 'Anton', sans-serif;
    text-align: center;
    position: static;
    margin-bottom: 10px;
    padding-top:412px
}

#bio {
   
    float: left;
    margin: 0, 0, 10px, 10px;
    font-size: 18px;

}
 
textarea{

    width: 640px;
    height: 200px;
}

@media screen and (max-width: 980px, 768px, 640px) {
    body {
        background-color: lightgreen;
    }
}

@media screen and (max-width: 980px, 768px, 640px) {
    body {
        background-color: lightgreen;
    }
}

@media screen and (max-width: 980px, 768px, 640px) {
    body {
        background-color: lightgreen;
    }
}

.navbar-brand {
    background-color: rgb(0, 174, 168);
}